fieldset {
  border: 0;
}

textarea,
select,
input,
input[type="checkbox"] + label::before {
  border-color: var(--color-neutral);
  border-radius: 5px;
}

input[type="radio"] + label::before {
  border-color: var(--color-neutral);
}

input,
select,
label {
  font-family: var(--font-primary);
  color: var(--color-neutral);
}

label:focus,
input:focus,
select:focus,
textarea:focus,
[type="checkbox"]:focus + label::before,
[type="radio"]:focus + label::before {
  background-color: var(--color-accent);
  outline: none;
  box-shadow: none;
}

textarea {
  max-width: 100%;
  min-height: 5em;
  overflow: auto;
}
