.btn {
  background-color: var(--color-primary);
  border: 4px solid var(--color-primary);
  border-radius: 20px;
  color: var(--color-neutral-light);
  text-decoration: none;
  transition: 500ms;
}

.btn-light {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-neutral-dark);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-secondary);
  color: var(--color-neutral-dark);
}

.btn a {
  transition: 500ms;
}

.btn:hover,
.btn:focus {
  background-color: transparent;
  color: var(--color-neutral-dark)
}

.btn-light:hover,
.btn-light:focus {
  background-color: transparent;
}

.btn-ghost:hover,
.btn-ghost:focus {
  background-color: var(--color-secondary);
  color: var(--color-neutral-light)
}
